body{
	background-color: #E8D6D7;
	font-family: sans-serif;
	text-align: center;
	font-size: 1.25em;
	padding: 50px;
}

h1{
	color: #333;
}

#history{
	text-align: left; /*リストの中身は左寄せ*/
	display: inline-block;/*寄せ方調整*/
	margin: 0 auto;/*全体を真ん中に配置する*/
	list-style-type: none;
	color: #666;
	font-
	
	background-color: #F5EDED;
	padding: 20px;
}
